.place__image {
    width: 460px;
    grid-area: place__image;
}

@media all and (max-width:1024px) {
    .place__image {
        width: 440px;
    }
}

@media all and (max-width:768px) {
    .place__image {
        width: 340px;
    }
}

@media all and (max-width:390px) {
    .place__image {
        width: 320px;
    }
}