.footer__links {
    display: flex;
    column-gap: 18px;
}


@media all and (max-width:320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 32px;
    }
}