.lead__image {
    width: 984px;
    margin: 0 auto;
}

@media all and (max-width:1024px) {
    .lead__image {
        width: 928px;
    }

}

@media all and (max-width:768px) {
    .lead__image {
        width: 768px;
    }

}

@media all and (max-width:320px) {
    .lead__image {
        width: 320px;
    }
}